# ==========================================
# Anthropic Configuration
# ==========================================

ANTHROPIC_API_KEY=

# ==========================================
# Model
# ==========================================

MODEL=claude-3-5-sonnet-latest

# ==========================================
# Redis Configuration
# Local Redis
# ==========================================

REDIS_URL=redis://localhost:6379/0

# ==========================================
# FastAPI Backend
# ==========================================

BASE_URL=http://localhost:8000